/* styles.css */
.tamano-personalizado {
    width: 220px;
    height: 200px;
  }

.imagen-centrada {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

li{
  cursor: pointer;
  transition: 0.2s all;
}

app-side-menu{
  width: 100%;
}